In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import classification_report,roc_auc_score,make_scorer
from sklearn.model_selection import GridSearchCV,cross_validate
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import StandardScaler

In [2]:
#UPLOADING THE DATASET
data=pd.read_csv("E:\diabetes.csv")

In [3]:
data

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [4]:
data.isnull().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [5]:
data.dtypes

Pregnancies                   int64
Glucose                       int64
BloodPressure                 int64
SkinThickness                 int64
Insulin                       int64
BMI                         float64
DiabetesPedigreeFunction    float64
Age                           int64
Outcome                       int64
dtype: object

In [6]:
data.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [7]:
data["Outcome"].value_counts()

0    500
1    268
Name: Outcome, dtype: int64

In [8]:
y=data["Outcome"]
x=data.drop(["Outcome"],axis=1)

In [9]:
data.groupby(['Outcome']).mean()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
Outcome,,,,,,,,
0,3.298000,109.980000,68.184000,19.664000,68.792000,30.304200,0.429734,31.190000
1,4.865672,141.257463,70.824627,22.164179,100.335821,35.142537,0.550500,37.067164

In [10]:
test_data=data.tail(100)

In [11]:
y=data["Outcome"]
x=data.drop(["Outcome"],axis=1)

In [12]:
y

0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

In [13]:
x

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,6,148,72,35,0,33.6,0.627,50
1,1,85,66,29,0,26.6,0.351,31
2,8,183,64,0,0,23.3,0.672,32
3,1,89,66,23,94,28.1,0.167,21
4,0,137,40,35,168,43.1,2.288,33
...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63
764,2,122,70,27,0,36.8,0.340,27
765,5,121,72,23,112,26.2,0.245,30
766,1,126,60,0,0,30.1,0.349,47
767,1,93,70,31,0,30.4,0.315,23

In [14]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

In [15]:
x_train.shape,x_test.shape,y_train.shape,y_test.shape

((614, 8), (154, 8), (614,), (154,))

In [16]:
#LAGISTIC REGRESSION ALGORITHM
from sklearn.linear_model import LogisticRegression
lg=LogisticRegression()
lg.fit(x_train,y_train)

C:\Users\vijayalakshmi\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [17]:
y_lg=lg.predict(x_test)
print(y_lg)

[1 0 0 1 0 0 1 1 0 0 1 1 0 0 0 0 1 0 0 0 1 0 0 0 0 0 0 1 0 0 0 0 0 0 0 1 0
 0 0 1 0 0 0 1 1 0 0 0 0 0 0 0 1 0 0 0 0 1 0 0 1 0 0 1 1 1 1 0 0 0 0 0 0 1
 1 0 0 1 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 1 0 0 1 1 0 0 0 0 0 1 0 0 0 0 1 0
 0 1 0 1 1 0 1 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 1 0 0 1 0 0 0 0 0 0
 0 0 0 1 0 0]

In [18]:
from sklearn.metrics import accuracy_score
a=accuracy_score(y_test,y_lg)*100
print(a)

82.46753246753246

In [19]:
from sklearn.metrics import precision_score,recall_score,f1_score,accuracy_score
def metrics(actuals,predictions):
    print("accuracy:{:.5f}".format(accuracy_score(actuals,predictions)))
    print("precision:{:.5f}".format(precision_score(actuals,predictions)))
    print("recall:{:.5f}".format(recall_score(actuals,predictions)))
    print("f1:{:.5f}".format(f1_score(actuals,predictions)))

In [20]:
metrics(y_test,y_lg.round())

accuracy:0.82468
precision:0.76316
recall:0.61702
f1:0.68235

In [21]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test,y_lg)

array([[98,  9],
       [18, 29]], dtype=int64)

In [22]:
#RANDOM FOREST ALGORITHM
from sklearn.ensemble import RandomForestClassifier
random_forest=RandomForestClassifier(n_estimators=100)
random_forest.fit(x_train,y_train)
predictions_rf=random_forest.predict(x_test)
random_forest_score=random_forest.score(x_test,y_test)*100

In [23]:
random_forest_score

78.57142857142857

In [24]:
from sklearn.metrics import precision_score,recall_score,f1_score,accuracy_score
def metrics(actuals,predictions):
    print("accuracy:{:.5f}".format(accuracy_score(actuals,predictions)))
    print("precision:{:.5f}".format(precision_score(actuals,predictions)))
    print("recall:{:.5f}".format(recall_score(actuals,predictions)))
    print("f1:{:.5f}".format(f1_score(actuals,predictions)))

In [25]:
metrics(y_test,predictions_rf.round())

accuracy:0.78571
precision:0.65909
recall:0.61702
f1:0.63736

In [26]:
#DECISION TREE ALGORITHM
from sklearn.tree import DecisionTreeClassifier
decision_tree=DecisionTreeClassifier()
decision_tree.fit(x_train,y_train)
predictions_dt=decision_tree.predict(x_test)
decision_tree_score=decision_tree.score(x_test,y_test)*100

In [27]:
decision_tree_score

79.22077922077922

In [28]:
from sklearn.metrics import precision_score,recall_score,f1_score,accuracy_score
def metrics(actuals,predictions):
    print("accuracy:{:.5f}".format(accuracy_score(actuals,predictions)))
    print("precision:{:.5f}".format(precision_score(actuals,predictions)))
    print("recall:{:.5f}".format(recall_score(actuals,predictions)))
    print("f1:{:.5f}".format(f1_score(actuals,predictions)))

In [29]:
metrics(y_test,predictions_dt.round())

accuracy:0.79221
precision:0.64706
recall:0.70213
f1:0.67347

In [30]:
#K-NEAREST NEIGHBOUR ALGORITHM
from sklearn.neighbors import KNeighborsClassifier 
neighbors_classifier=KNeighborsClassifier()
neighbors_classifier.fit(x_train,y_train)
predictions_nc=neighbors_classifier.predict(x_test)
neighbors_classifier_score=neighbors_classifier.score(x_test,y_test)*100

C:\Users\vijayalakshmi\anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:228: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode, _ = stats.mode(_y[neigh_ind, k], axis=1)
C:\Users\vijayalakshmi\anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:228: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode, _ = stats.mode(_y[neigh_ind, k], axis=1)

In [31]:
neighbors_classifier_score

75.32467532467533

In [32]:
#CALCULATION OF ACCURACY,RECALL,F1,PRECISION
from sklearn.metrics import precision_score,recall_score,f1_score,accuracy_score
def metrics(actuals,predictions):
    print("accuracy:{:.5f}".format(accuracy_score(actuals,predictions)))
    print("precision:{:.5f}".format(precision_score(actuals,predictions)))
    print("recall:{:.5f}".format(recall_score(actuals,predictions)))
    print("f1:{:.5f}".format(f1_score(actuals,predictions)))

In [33]:
metrics(y_test,predictions_nc.round())

accuracy:0.75325
precision:0.59184
recall:0.61702
f1:0.60417